# GitHub
GITHUB_API=https://api.github.com/users/lucadibello/repos
GITHUB_URL=https://github.com/lucadibello

# LinkedIn
LINKEDIN_URL=https://www.linkedin.com/in/luca-di-bello/

# Contact
MAIL_ADDRESS=change-me@example.com

# Projects
MAX_PROJECTS=4

# Google Analytics
GOOGLE_ANALYTICS_ID=change-me
